.resultsForRoudTrip{
  display: flex;
  width: 62%;
  height: 1152px;
  flex-direction: column;
  margin-top: 3rem;
}

.roudTripticket {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 20%;
  width: 98%;
  padding: 1%;
  background-color: #ffffff;
  margin-top: 1%;
  border-radius: 2px;
}

.destination {
  position: sticky;
  background-color: #cccccd;
  height: 9rem;
  margin-bottom: 2rem;
  width: 100%;
}
.results  {
  display: flex;
  overflow-y: scroll;
  height: 70%;
  flex-direction: column;
  align-items: center;
}

.roundTicketTripDataContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  background-color: #ffffff;
  justify-content: space-around;
}

.roundTicketTripflightDetails {
  height: 100%;
  border-bottom: 1px dotted #818181;
  margin-top: 0.4rem;
}

.roundTicketTripInnerContainer {
  display: flex;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.roundTicketTripFlightPrice {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 21%;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.4rem;
  border-left: 1px dotted rgb(129, 129, 129);
  background-color: #f9f9f9;
}
