.resultsForRoudTrip {
  display: flex;
  width: 62%;
  height: 1152px;
  flex-direction: column;
  margin-top: 3rem;
}

.roudTripticket {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 20%;
  width: 98%;
  padding: 1%;
  background-color: #ffffff;
  margin-top: 1%;
  border-radius: 2px;
}

.destination {
  position: sticky;
  background-color: #cccccd;
  height: 9rem;
  margin-bottom: 2rem;
  width: 100%;
}
.results {
  display: flex;
  overflow-y: scroll;
  height: 70%;
  flex-direction: column;
  align-items: center;
}

.roundTicketTripDataContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  height: auto;
  background-color: #ffffff;
  justify-content: space-around;
}

.roundTicketTripflightDetails {
  height: 100%;
  border-bottom: 1px dotted #818181;
  margin-top: 0.4rem;
}

.roundTicketTripInnerContainer {
  display: flex;
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.roundTicketTripFlightPrice {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 21%;
  justify-content: space-around;
  align-items: center;
  margin-top: 0.4rem;
  border-left: 1px dotted rgb(129, 129, 129);
  background-color: #f9f9f9;
}

.containerRoundTrip {
  display: flex;
  flex-direction: column;
}
.ticketsWrapper {
  width: 100%;
  height: 100%;
}

.destinationRoundTrip {
  height: 24%;
  margin-bottom: 2rem;
}
.resultsRoundTrip {
  overflow-y: scroll;
}

.ticketRoundTrip {
  position: relative;
  display: flex;
  border: 3px solid #141542;
  border-radius: 12px;
  height: 178px;
  width: 58vw;
  overflow: hidden;
  flex-direction: row;
  background-color: aliceblue;
}
.left {
  display: flex;
  width: 75%;
  height: 100%;
  background-color: #cacaca;
  flex-direction: column;
  justify-content: space-evenly;
}
.right {
  width: 25%;
}
.roundTripTicketsContainer {
  display: flex;
  width: 100%;
  height: 45%;
  background-color: aliceblue;
  flex-direction: column;
}
.ticketFlightDetailsRoundTrip {
  display: flex;
  padding: 1px;
  height: 100%;
  width: 100%;
  background-color: #cacaca;
  border-right: none;
  flex-direction: row;
  align-items: center;
}
.airlineRoundTrip {
  /* background-color: brown; */
  width: 25%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.departureRoundTrip {
  display: flex;
  /* background-color: #a8c6c7; */
  width: 25%;
  height: 75%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.FlightDurationRoundTrip {
  display: flex;
  /* background-color: cadetblue; */
  width: 25%;
  height: 75%;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.arrivalRoundTrip {
  display: flex;
  /* background-color: #3e73a1; */
  width: 25%;
  height: 75%;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.lineSparateRoundTrip {
  display: flex;
  position: absolute;
  right: 24%;
  bottom: -1.5%;
  flex-direction: column;
  width: 2%;
  height: 89%;
  align-items: center;
}
.topDoRoundTript,
.bottomDotRoundTrip {
  height: 9%;
  width: 100%;
  background-color: #141542;
  border-radius: 50%;
}
.lineRoundTrip {
  height: 95%;
  border-left: 4px dotted #b4b4b4;
}

.ticketPriceRoundTrip {
  display: flex;
  background-color: #cacaca;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.flightPriceRoundTrip {
  background-color: #cddc39;
  display: flex;
  width: 50%;
  height: 36.5%;
  align-items: center;
  justify-content: center;
}
.selectBtnRoundTrip {
  display: flex;
  background-color: red;
  width: 50%;
  height: 42.5%;
  align-items: center;
  justify-content: center;
}
