.destanation {
  position: relative;
  display: flex;
  height: 45%;
  color: #606060;
  flex-direction: column;
  filter: drop-shadow(2px 4px 6px #27165c);
}
.imageCont {
  width: 100%;
  height: 55%;
}
.imageCont img {
  height: 100%;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.destanationDetails {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfcfc;
  width: 100%;
  height: 34%;
  border-bottom-right-radius: 12px;
  border-bottom-left-radius: 12px;
}
.destanationLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  color: #0b3552;
  justify-content: space-around;
}
.destanationRight {
  display: flex;
  width: 50%;
  height: 78%;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.destanationRight button {
  margin: 0;
  padding: 0;
  width: 75%;
  height: 36%;
  background-color: cadetblue;
  color: #ffffff;
  font-size: 1em;
  border-radius: 12px;
  border: 2px solid #172e6f;
  cursor: pointer;
}

.destanation:hover{
  
}